.login{
    background: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login__brand{
    width: 100px;
    object-fit: contain;
    margin: 20px auto;
}
.login__container{
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid lightgray;
}
.login h1{
    font-weight: 500px;
    margin-bottom: 20px;
}
.login form h5{
    margin-bottom: 5px;;
}
.login input{
    margin-bottom: 10px;
    background: white;
    width: 98%;
    height: 30px;
}

.login p{
    margin-top: 15px;
    font-size: 12px;
}
.login__signInButton{
    width: 100%;
    background: #f0c14b;
    border-radius: 4px;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
}
.login__createAccount{
    border-radius: 4px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: darkgray;
}